* {
    margin: 0; 
    padding: 0;  
   }
.body{
    background:linear-gradient(red,blue,red );
   }
img{
       width: 250px;
       /* height: 30px; */
       border-radius: 12px;
       /* margin: 40px; */
       flex-wrap: wrap;
       box-shadow:0 0 20px rgb(37, 33, 33);
   }
h1{
       text-align: center;
       font-size:xx-large;
       font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       color: linear-gradient(red,blue,red);
       animation: text 2s infinite alternate;
    }
@keyframes text{
    0%{color:white;}
    25%{color:black;}
    50%{color:deeppink;}
    75%{color:blue;}
    100%{color:gold;}
}
h2{
    text-align: center;
    font-size: xx-large;
    font-family:cursive;
    animation: text 2s infinite alternate;
}
@keyframes text{
    0%{color:white;}
    25%{color:black;}
    50%{color:deeppink;}
    75%{color:blue;}
    100%{color:gold;}
}

h3{
    text-align: center;
    font-size: large;
    font-family:cursive;
  
}
h4{
    text-align: center;
}
a{
    color: black;
}
.p1{
    text-align: left;
}
.flex{
       display: flex;
       flex-wrap: wrap;
       gap: 8px;
       margin: 40px;
}
hr{
       color:black;
       border: solid2 2px;
       /* width: 1500px; */
   }
.div1{
    display: flex;
    flex-direction: column;
}
.img2{
    width:165px
}
.img3{
    width: 250px;
    height: 250px;
}
.img4{
    width: 250px;
    height: 250px;
}
.img5{
    width: 250px;
    height: 250px;
}
.img6{
    width: 250px;
    height: 250px;
}
.img7{
    width: 250px;
    height: 250px;
}
.img8{
    width: 250px;
    height: 250px;
}
.img9{
    width: 250px;
    height: 250px;
}
.img10{
    width: 250px;
    height: 250px;
}
.img11{
    width: 250px;
    height: 250px;
}
.img12{
    width: 250px;
    height: 250px;
}
.img13{
    width: 250px;
    height: 250px;
}
.img14{
    width: 250px;
    height: 250px;
}
.img15{
    width: 250px;
    height: 250px;
}
.img16{
    width: 250px;
    height: 250px;
}
.img1{
    width: 250px;
}
@media (max-width:320px) {
    /* .flex{
        width: 2000px;
    } */
    .div1{
        width: 300px;
    }
    img{
        width: 300px;
    }
}